header, footer{
    height: 60px;
    background: #438;
    color: #fff;
    font-size: 30px;
    border: 1px solid red;
    text-align: center;
}

footer{
    background: #4ab;
}

section, div{
    border: 3px solid #333;
    padding: 10px;
}

section{
    height: 300px;
    background: rgb(204, 216 ,30);
    display: flex;
}
div{
    color:white;
    background: orange;
    margin: 10;
    text-shadow: 1px 1px 1px #333;
    text-align: center;
}
div:first-child{
    flex: 1;
}
div:nth-child(2){
    flex: 3;
}
div:last-child{
    flex: 1;
}